body {
	height: 100%;
	width: 100%;
}
img {
	width: 100%;
	height: 100%;
}
ul {
	list-style-type: none;
}
body h1 {
	font-size: 42px;
	text-align: center;
}
body h2 {
	font-size: 36px;
}
body h3 {
	font-size: 26px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
	font-family: 'Lobster', cursive;
	color: #5b5a5f;
}
.nav-menu li {
	display: inline-block;
	padding: 5px;
	border: 2px solid #62c5cf;
	border-radius: 14px;
	margin: 3px 10px 0 0;
	font-family: 'Lobster', cursive;
}
.nav-menu li a {
	color: #5b5a5f;
}
.call {
	display: block;
	float: right;
	margin-right: 60px;
	position: absolute;
	right: 0;
	top: 48px;
}
.call h3 {
	text-align: center;
	font-size: 34px;
	padding: 0 0 10px;
	margin: 12px 0;
}


/*.advantages {
	background: url(../img/main.png);
	background-size: cover;
}*/


.day-ration {
	display: block;
	max-width: 1150px;
	margin: 100px auto 0;
	border-radius: 20px;
	background: url(../img/main-blue.jpg);
	padding: 30px 50px;
	position: absolute;
    bottom: -30px;
    left: 110px;
}
.day-ration h2 {
	display: inline-block;
	margin: 0;
	text-align: center;
	line-height: 1.5;
	text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
}
.day-ration h1 {
	display: inline-block;
	margin: 0 10px 0 50px;
	color: #fff;
	font-size: 58px;
}
.day-ration span {
	display: inline-block;
	margin: 0;
	color: #5b5a5f;
	font-size: 28px;
	text-decoration: line-through;
	font-weight: 700;
	font-family: 'Lobster', cursive;
}
.day-ration form {
	margin: 20px 0 0 0;
}
.day-ration input {
	border: none;
	border-radius: 18px;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 24px;
	margin: 0 12px 0 0;
}
.day-ration input.name {
	background: #fff;
	color: #5b5a5f;
	padding: 5px 0px;
}
.day-ration input.phone {
	background: #fff;
	color: #5b5a5f;
	padding: 5px 0px;
}
.day-ration input.btn-try {
	background: #5b5a5f;
	color: #fff;
	padding: 5px 25px;
}






#numbers {
	background: #96e0dc;
	padding: 0 0 40px 0;
	position: relative;
}
#comment {
	position: relative;
}
.wave-numbers {
	background: url(../img/wave.png) 0 0px;
	position: absolute;
	left: 0px;
	top: -5px;
	width: 100%;
	height: 11px;
	background-repeat: repeat-x;
}
.wave-numbers2 {
    background: url(../img/wave2.png) 0 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 10px;
    background-repeat: repeat-x;
}
.wave3-sprite {
	background: url(../img/sprite-wave1.png) 0 -29px;
	position: absolute;
	left: 0px;
	bottom: -9px;
	width: 100%;
	height: 10px;
	background-repeat: repeat-x;
}
.wave2-sprite {
	background: url(../img/sprite-wave1.png) 0 0px;
	position: absolute;
	left: 0px;
	top: -10px;
	width: 100%;
	height: 10px;
	background-repeat: repeat-x;
}
#numbers h1 {
	margin: 40px 0 40px;
	color: #fff;
    text-shadow: #5b5a5f 2px 0 0px, #5b5a5f 0 2px 0px, #5b5a5f -2px 0 0px, #5b5a5f 0 -2px 0px;
}
#numbers p {
	color: #5b5a5f;
	font-size: 22px;
	font-family: 'Lobster', cursive;
}
#numbers span {
	color: #fff;
	font-size: 42px;
	font-family: 'Lobster', cursive;
}



#zakaz h1 {
	margin: 40px 0;
}


#about h1 {
	margin: 80px 0 40px;
}
.grapes-i {
	background: url(../img/sprite.png) 0px -2071px;
	position: relative;
	left: 244px;
	top: 210px;
	width: 156px;
	height: 116px;
	position: absolute;
}
.brokol-i {
	background: url(../img/sprite.png) -97px -1968px;
	position: relative;
	left: -28px;
	top: 144px;
	width: 109px;
	height: 100px;
	position: absolute;
}

#work {
	padding: 30px 0 100px;
}
#work h1 {
	margin: 0 0 40px;
}
.icon1 {
	background: url(../img/sprite.png) 0 0px;
	position: absolute;
	width: 196px;
	height: 192px;
}
.icon2 {
	background: url(../img/sprite.png) 0 -208px;
	position: absolute;
	width: 196px;
	height: 192px;
}
.icon3 {
	background: url(../img/sprite.png) 0 -418px;
	position: absolute;
	width: 196px;
	height: 192px;
}
.icon4 {
	background: url(../img/sprite.png) 0 -627px;
	position: absolute;
	width: 196px;
	height: 192px;
}
.icon5 {
	background: url(../img/sprite.png) 0 -839px;
	position: absolute;
	width: 196px;
	height: 192px;
}
.icon6 {
	background: url(../img/sprite.png) 0 -1031px;
	position: absolute;
	width: 196px;
	height: 192px;
}
.arrow-right {
	background: url(../img/sprite.png) 0 -1232px;
	position: absolute;
	width: 160px;
	height: 73px;
	left: 30px;
	top: 40px;
}
.arrow-left {
	background: url(../img/sprite.png) 0 -1315px;
	position: absolute;
	width: 160px;
	height: 73px;
	left: 30px;
	top: 40px;
}
.arrow-down {
	background: url(../img/sprite.png) 0 -1388px;
	position: absolute;
	width: 80px;
	height: 156px;
	margin-bottom: 14px;
}
.block-icon {
    height: 200px;
}
#zakaz {
	background-color: #e8f5ed;
	color: #5b5a5f;
	position: relative;
}
.border-colname {
	border: 7px solid rgb(116, 185, 219);
	border-radius: 30px;
	padding: 0px 4px 4px;
}
.border-colname .col-name_menu h2 {
	margin-top: 5px;
}
.blueberry {
	background: url(../img/sprite.png) 0 -1968px;
	position: absolute;
	width: 93px;
	height: 100px;
	left: 215px;
	top: 550px;
}
.col-name_menu {
	background-color: #62c5cf;
	color: #fff;
	padding: 0;
	border-radius: 20px;
}
.cnm-margin80 {
	margin-top: 88px;
}
.col-name_menu h2 {
	background-color: #5b5a5f;
	color: #fff;
	padding: 30px 35px;
	border-radius: 20px;
	text-align: center;
	margin-top: 10px;
}
.good-price {
	color: rgb(116, 185, 219);
	font-size: 26px;
}
.choose-menu {
	padding: 15px;
}
.choose-menu input {
	border: none;
	border-radius: 15px;
	padding: 5px 15px;
	font-size: 24px;
	font-family: 'Lobster', cursive;
	max-width: 100px;
	color: #5b5a5f;
}
.choose-menu select {
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    width: 100px;
    color: #5b5a5f;
}
.choose-menu h3 {
	color: #fff;
	display: block;
	text-shadow: #5b5a5f 2px 0 0px, #5b5a5f 0 2px 0px, #5b5a5f -2px 0 0px, #5b5a5f 0 -2px 0px;
}
.callorie {
	display: inline-block;
	text-align: center;
	width: 96px;
}
.num-food {
	display: inline-block;
	text-align: center;
	width: 96px;
}
.choose-menu .col-callorie {
	padding: 0;
}
.choose-menu .col-num-food {
	padding: 0;
}

.result {
	background-color: #62c5cf;
	border-radius: 20px;
	margin: 40px auto;
	z-index: 11;
	position: relative;
}
.result h2 {
	display: inline-block;
	padding: 20px 25px 32px;
	text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
}
.result span {
	color: #fff;
	text-shadow: none;
}
.center-booking {
	display: inline-block;
}
.num-day {
    border: none;
    border-radius: 18px;
    text-align: center;
    font-family: "Lobster",cursive;
    font-size: 24px;
    margin: 0px 12px 0px 0px;
    background-color: rgb(255, 255, 255);
    color: rgb(91, 90, 95);
    padding: 7px 25px 9px;
    max-width: 120px;
}
.btn-booking {
	border: none;
    border-radius: 18px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    margin: 0 12px 0 0;
    background-color: #5b5a5f;
    color: #fff;
    padding: 7px 25px 9px;
    float: 
}

#why > .container {
	max-width: 1200px
}
#why h1 {
	margin: 20px auto 50px;
}
.item-advantages1 {
	position: relative;
	display: inline-block;
	width: 380px;
  	height: 280px;
	margin: 0 15px;
}
.item-advantages1 > .advan-img {
	width: 380px;
  height: 280px;
}
.item-advantages1 > .advan-img-dark {
	width: 380px;
  height: 280px;
}
.item-advantages2 {
	position: relative;
	display: inline-block;
	width: 643px;
  height: 200px;
	margin: 0 15px;
}
.item-advantages2 > .advan-img {
	width: 643px;
  height: 200px;
}
.item-advantages2 > .advan-img-dark {
	width: 643px;
  height: 200px;
}
.item-advantages3 {
	position: relative;
	display: inline-block;
	width: 380px;
  height: 280px;
	margin: 0 15px;
}
.item-advantages3 > .advan-img {
	width: 380px;
  height: 280px;
}
.item-advantages3 > .advan-img-dark {
	width: 380px;
  height: 280px;
}
.item-advantages4 {
	position: relative;
	display: inline-block;
	width: 320px;
  height: 360px;
	margin: 0 15px;
}
.item-advantages4 > .advan-img {
	width: 320px;
  height: 360px;
}
.item-advantages4 > .advan-img-dark {
	width: 320px;
  height: 360px;
}
.item-advantages5 {
	position: relative;
	display: inline-block;
	width: 320px;
  height: 360px;
	margin: 0 15px;
}
.item-advantages5 > .advan-img {
	width: 320px;
  height: 360px;
}
.item-advantages5 > .advan-img-dark {
	width: 320px;
  height: 360px;
}

.advan-img {
	overflow:hidden;
	
	position: relative;

}
.advan-img img {
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	opacity: .5;
    z-index: 1111;
}
.advan-img img:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.advan-img-dark {
 	background: rgba(0,0,0, .9);
    position: absolute;
    top: 0;
    width: 480px;
    height: 250px;
    z-index: -1;
}
.advan-text {
	position: absolute;
    top: 25%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    left: 50%;
	margin-left: -88px;
    font-size: 18px;
    z-index: 1111;
}
.advan-text2 {
	margin-left: -150px;
}
.advan-text4, .advan-text5 {
	margin-left: -75px;
}


.grid {
  max-width: 1045px;
  height: 620px !important;
  margin: auto;
  position: relative;
}

/* ---- grid-item ---- */
.grid-item {
  float: left;
}
.grid-item1 {
  width: 380px;
  height: 280px;
  position: absolute;
    left: 0px !important;
    top: 0px !important;
}
.grid-item2{
  width: 643px;
  height: 200px;
  position: absolute;
    left: 383px !important;
    top: 0px !important;
}
.grid-item3 {
  width: 380px;
  height: 280px;
  position: absolute;
    left: 0px !important;
    top: 283px !important;
}
.grid-item4 {
  width: 320px;
  height: 360px;
  position: absolute;
  left: 383px !important;
    top: 203px !important;
}
.grid-item5 {
  width: 320px;
  height: 360px;
  position: absolute;
    left: 706px !important;
    top: 203px !important;
}



#comment .carousel {
	background: #e8f5ed;
	height: 825px;
}
#comment .carousel-inner img {
	border-radius: 50%;
    width: 290px;
    height: 290px;
    display: block;
    margin: auto;
}
.name-slider {
	width: 300px;
    display: block;
    margin: 10px auto;
}
.name-slider p {
	text-align: center;
}
.name-slider a {
	display: inline-block;
	background: #8fddda;
	border-radius: 5px;
	padding: 1px 3px;
}
.slide-left {
	background: url(../img/sprite.png) -71px -2656px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	width: 55px;
	height: 95px;
}
.slide-right {
	background: url(../img/sprite.png) 0 -2656px;
	position: absolute;
	right: 50%;
	top: 50%;
	margin-right: -10px;
	width: 55px;
	height: 95px;
}


#comment .carousel-indicators {
	display: none;
}
.slider-item {
	padding: 0 0 40px;
}
.slider-item p {
	color: #5b5a5f;
	margin: 0 auto;
    text-shadow: none;
    line-height: 1.5;
}
.slider-item i {
	color: #fff;
}
#comment .carousel-caption {
	display: block;
	position: initial;
	left: auto;
	right: auto;
	background: #fff;
	border-radius: 20px;
	max-width: 600px;
	margin: auto;
	padding: 20px;
	color: #5b5a5f;
}
#comment .carousel-control.left,
#comment .carousel-control.right {
	background-image: none;
}




footer#contacts {
	padding: 20px 0 100px;
}
.question-col {
	height: 168px;
}
footer img {
	border-radius: 5px;
}
footer .coffee-address {
	text-align: center;
	color: #5b5a5f;
	padding: 20px 0 0 0;
}
.coffee-address p {
	font-family: 'Lobster', cursive;
	font-size: 22px;
}
footer p.address {
	font-family: ;
	font-size: 32px;
}
footer .question {
	height: 220px;
	background: url(../img/contact2.jpg);
	border-radius: 5px;
	padding: 20px;
	text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
}
footer .question h2 {
	text-align: center;
	margin: 0;
	padding: 0px 0 30px;
}
footer .question button {
	background: #5b5a5f;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-family: 'Lobster', cursive;
	font-size: 26px;
	width: 260px;
	padding: 10px 26px;
}
footer .row {
	margin-top: 48px;
}
footer .map-yandex {
	height: auto;
}
footer .map-yandex iframe {
	width: 100%;
	height: 100%;
	min-height: 220px;
	border-radius: 5px
}
footer .soc-block h3 {
	display: inline-block;
	margin-top: 8px;
}
footer .forma h3 {
    display: inline-block;
    margin-top: 8px;
}
footer .soc-block {
	float: right;
	width: auto;
	margin: 0 20px 0 0;
}
footer ul {
	display: flex;
	padding: 0;
}
footer li {
	display: inline-block;
	background: #62c5cf;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	display: flex;
	margin: 0 0 0 10px;
}
footer li a {
	display: block;
	color: #62c5cf;
	margin: auto;
}
footer i {
	color: #fff;
}
#modal-zakaz .modal-dialog h4 {
	display: inline-block;
	margin: 2px auto;
	font-size: 16px;
    width: 40%;
    color: #fff;
}
#modal-zakaz .modal-dialog input {
	font-size: 16px;
	display: inline-block;
	margin: 2px auto;
	width: 100%;
}
#modal-zakaz .modal-dialog .modal-content {
	width: 320px;
	height: 320px;
}
.form-zakaz {
	max-width: 240px;
	display: block;
	margin: 0 auto;
}
#modal-zakaz .num-food-for input, #modal-zakaz .num-cal-form input {
	width: 58%;
}
#modal-zakaz h2.modal-title {
    margin: 15px 0 0 0;
}
#modal-zakaz .modal-body button {
	font-size: 18px;
}




.modal .modal-dialog {
	width: 300px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
}
.modal .modal-content {
	border-radius: 50%;
    height: 300px;
    width: 300px;
    background: url(../img/main-blue.jpg);
    background-repeat: repeat-y;
}
h2.modal-title {
	text-align: center;
	color: #fff;
	margin: 25px 0 0 0;
    line-height: 1;
}
.modal .modal-header {
	border: none;
}
.modal .modal-body {
	padding: 0 15px 15px;
}
.modal-body input {
	display: block;
	border: none;
	border-radius: 15px;
	background: #fff;
	color: #5b5a5f;
	font-family: 'Lobster', cursive;
	font-size: 22px;
	text-align: center;
	margin: 10px auto;
	max-width: 240px;
}
.modal-body button {
	display: block;
	border: none;
	border-radius: 15px;
	background: #5b5a5f;
	color: #fff;
	font-family: 'Lobster', cursive;
	font-size: 22px;
	text-align: center;
	margin: 5px auto;
	padding: 5px 15px;
}
.modal button.close {
	background: #5b5a5f;
    opacity: 1;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -22px;
}
.modal button.close span {
	position: absolute;
    right: 50%;
    top: 1px;
    margin-right: -11px;
    color: #fff;
    font-size: 38px;
    font-weight: 300;
}
.modal {
	z-index: 11111;
}
.ration-grapes {
	background: url(../img/sprite.png) 0px -1761px;
	right: 10px;
	top: 20px;
	width: 192px;
	height: 200px;
	position: absolute;
}
.ration-grapes2 {
	background: url(../img/sprite.png) 0px -1545px;
	left: -36px;
	top: 93px;
	width: 195px;
	height: 205px;
	position: absolute;
}







/*  --------------------------- MEDIA ---------------------------- */

@media (min-width: 1200px) {
	.col-name_menu {
		background-color: #62c5cf;
		color: #fff;
		padding: 0;
		border-radius: 20px;
		height: 525px;
	}
	.ration > .container {
		height: 980px;
		position: relative;
	}
	footer .map-yandex img {
		height: auto;
		height: 298px;
	}
	footer .map-yandex iframe {
		width: 100%;
		height: 100%;
		height: 299px;
		border-radius: 5px
	}
	footer .container {
	    width: auto;
	    min-width: 1170px;
	    max-width: 1400px;
	}
	footer .soc-block {
		float: right;
		width: auto;
		margin: 0 20px 0 0;
	}
	.img-contact1 {
    	height: 220px;
	}
	.contact-row {
		max-height: 220px;
	}
	.nav-menu .navbar-nav>li>a {
		padding: 3px;
		font-size: 20px;
	}
	#mainNav {
		background: url(../img/header.jpg);
		height: 234px;
		position: relative;
	}
	.img-header-left {
		background: url(../img/sprite.png) 0 -2360px;
		position: absolute;
		width: 168px;
		height: 168px;
	}
	.img-header-right {
		background: url(../img/sprite.png) 0px -2547px;
		position: absolute;
		right: 0;
		width: 196px;
		height: 108px;
	}
	.navbar .navbar-nav {
        display: inline-block;
        float: none;
    }
    .navbar .navbar-collapse {
        text-align: center;
        margin-top: 97px;
    }
    #mainNav .navbar-header {
    	background: url(../img/logo.png);
    	position: absolute;
    	margin: 55px 0 0 120px;
    	height: 150px;
    	width: 150px;
    }
    .btn-zakaz {
    	background: #62c5cf;
    	color: #5b5a5f;
    	text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
    	-webkit-transform: rotate(-90deg);
    	-moz-transform: rotate(-90deg);
    	-o-transform: rotate(-90deg); 
    	transform: rotate(-90deg);
    	position: fixed;
    	left: -125px;
    	top: 50%;
    	padding: 5px 40px 10px;
    	border: none;
    	border-radius: 15px;
    	font-family: 'Lobster', cursive;
    	z-index: 10000;
    	font-size: 38px;
    }
    .call {
    	display: block;
    	float: right;
    	margin-right: 60px;
    	position: absolute;
    	right: 0;
    	top: 48px;
    }
    .call h3 {
    	text-align: center;
    	font-size: 32px;
    	padding: 0 0 10px;
    	margin: 14px 0 4px;
    }
    .consult {
    	background: #62c5cf;
    	color: #5b5a5f;
    	text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
    	border: none;
    	border-radius: 16px;
    	max-width: 240px;
    	font-family: 'Lobster', cursive;
    	font-size: 22px;
    	padding: 2px 15px;
    }
	
    .work-row p {
    	text-align: center;
    	color: #5b5a5f;
    	width: 196px;
    }


    .ration {
    	background: url(../img/main.png) 100%;
    	background-size: 100%;
    	background-repeat: no-repeat;
    }
    .aside-left {
    	width: 68%;
    	display: block;
    	float: left;
    }
    .aside-left h5 {
    	color: #62c5cf;
    	font-family: 'Lobster', cursive;
    	text-align: center;
    	line-height: 1.8;
    	font-size: 22px;
    }
    .aside-left p {
    	color: #5b5a5f;
    	text-align: center;
    }
    .why-trust img {
    	margin-top: 40px;
    }
    .aside-left img {
    	border-radius: 5px;
    }
    .aside-left hr {
    	margin-top: 15px;
    	margin-bottom: 15px;
    	border-top: 2px solid #5b5a5f;
    }
    .aside-right {
    	width: 28%;
    	display: block;
    	float: right;
    }
    .aside-right span {
    	font-size: 36px;
    	font-family: 'Lobster', cursive;
    	color: #5b5a5f;
    }
    span.sasha {
    	display: inline-block;
    	-webkit-transform: rotate(-17deg);
    	-moz-transform: rotate(-17deg);
    	-o-transform: rotate(-17deg); 
    	transform: rotate(-17deg);
    	position: relative;
    	left: 40px;
    }
    span.dasha {
    	display: inline-block;
    	-webkit-transform: rotate(12deg);
    	-moz-transform: rotate(12deg);
    	-o-transform: rotate(12deg); 
    	transform: rotate(12deg);
    	position: relative;
    	right: -95px;
    	top: 46px;
    }
}













@media (max-width: 1199px) {
	.ration-grapes, .ration-grapes2, .grapes-i, .brokol-i, .blueberry {
		display: none;	
	}

	.aside-right span {
    	font-size: 26px;
    	font-family: 'Lobster', cursive;
    	color: #5b5a5f;
    }
	.navbar-collapse .navbar-nav {
	    float: none;
	    margin: 10px auto;
	    display: block;
	    width: 466px;
	}
	.navbar-collapse .navbar-nav>li>a {
		padding: 0;
	}
	#mainNav.navbar-default {
    	background-color: #ebf7f9;
    	border-color: #e7e7e7;
    	z-index: 11111;
	}
	.header-h1 {
		margin: 100px 0 0;
	}
	.call {
		display: block;
		float: right;
		margin-right: 15px;
		position: absolute;
		right: 0;
		top: 1px;
	}
	.call h3 {
		text-align: center;
		font-size: 18px;
		padding: 0 0 7px;
		margin: 0px 0;
	}
	.consult {
	    background: #62c5cf;
	    color: #5b5a5f;
	    text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
	    border: none;
	    border-radius: 16px;
	    max-width: 240px;
	    font-family: 'Lobster', cursive;
	    font-size: 12px;
	    padding: 4px 5px;
	}
    body h1 {
		font-size: 32px;
		text-align: center;
	}
	body h2 {
		font-size: 26px;
	}
	body h3 {
		font-size: 16px;
	}
	.ration {
		height: 300px;
	}
	.day-ration {
	    display: block;
	    max-width: 700px;
	    margin: 30px auto 0;
	    border-radius: 20px;
	    background: url(../img/main-blue.jpg);
	    background-repeat: no-repeat;
	    padding: 30px 50px;
	    width: 700px;
	    position: inherit;
	}
	.day-ration h1 {
	    display: inline-block;
	    margin: 0 10px 0 14px;
	    color: #fff;
	    font-size: 42px;
	}
	.day-ration input.name {
	    background: #fff;
	    color: #5b5a5f;
	    padding: 0px 0px;
	    margin: 5px auto;
	}
	.day-ration input.phone {
	    background: #fff;
	    color: #5b5a5f;
	    padding: 0px 0px;
	    margin: 5px auto;
	}
	.day-ration input.btn-try {
	    background: #5b5a5f;
	    color: #fff;
	    padding: 0px 25px;
	}
	.aside-left {
    	width: 68%;
    	display: block;
    	float: left;
    }
	.aside-right {
    	width: 28%;
    	display: block;
    	float: right;
    }
    footer .question {
	    height: auto;
	    background: url(../img/contact2.jpg);
	    border-radius: 5px;
	    padding: 20px;
	    text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
	    margin: 10px auto;
	    background-repeat: no-repeat;
	}
	.map-yandex img {
		margin: 0 auto 10px;
	}
	footer .map-yandex iframe {
	    margin: 0 auto 10px;
	}
	.btn-zakaz {
    	background: #62c5cf;
    	color: #5b5a5f;
    	text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
    	-webkit-transform: rotate(-90deg);
    	-moz-transform: rotate(-90deg);
    	-o-transform: rotate(-90deg); 
    	transform: rotate(-90deg);
    	position: fixed;
    	left: -81px;
    	top: 50%;
    	padding: 5px 20px 10px;
    	border: none;
    	border-radius: 15px;
    	font-family: 'Lobster', cursive;
    	z-index: 10000;
    	font-size: 28px;
    }
    #comment .carousel-inner img {
	    border-radius: 50%;
	    width: 190px;
	    height: 190px;
	    display: block;
	    margin: auto;
	}
	.slide-right {
	    background: url(../img/sprite.png) 0 -2656px;
	    position: absolute;
	    right: 25%;
	    top: 50%;
	    margin-right: -10px;
	    width: 55px;
	    height: 95px;
	}
	.slide-left {
	    background: url(../img/sprite.png) -71px -2656px;
	    position: absolute;
	    left: 25%;
	    top: 50%;
	    margin-right: -10px;
	    width: 55px;
	    height: 95px;
	}
	#why .grid-item, #why .advan-img, #why .advan-img-dark {
		max-width: 300px;
	}
	.col-name_menu h2 {
	    background: #5b5a5f;
	    color: #fff;
	    padding: 15px 35px;
	    border-radius: 20px;
	    text-align: center;
	}
	.center-booking {
		display: block;
		margin: 0 auto;
		width: 241px;
		padding: 0 0 10px;
	}
	#numbers p {
	    color: #5b5a5f;
	    font-size: 22px;
	    font-family: 'Lobster', cursive;
	    text-align: center;
	    height: 120px;
	}
	.block-icon {
	    height: 200px;
	    width: 200px;
	    margin: auto;
	}
	.col-block-icon {
		height: 250px;
	}
	.col-block-icon p {
		text-align: center;
	}
	.arrow-left, .arrow-right, .arrow-down, .row-arrow-down {
		display: none;
	}
}
@media (max-width: 1120px) {
	.grid-item5 {
		left: 0 !important;
		top: 567px !important;
	}
	.input-callorie, .input-num-food {
		margin: 15px 0px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.col-name_menu {
		background: #62c5cf;
		color: #fff;
		padding: 0;
		border-radius: 20px;
		height: 310px;
	}
}
@media (max-width: 991px) {
	.col-name_menu {
	    background: #62c5cf;
	    color: #fff;
	    padding: 0;
	    border-radius: 20px;
	    height: 380px;
	}
	.day-ration span {
    	font-size: 20px;
	}
	.day-ration h1 {
  		margin: 0 10px 0 10px;
   		font-size: 34px;
	}
}
@media (max-width: 767px) {
	.call {
	    display: block;
	    float: right;
	    margin-right: 15px;
	    position: absolute;
	    right: 50%;
	    top: 1px;
	    margin-right: -70px;
	}
	.aside-right {
	    width: 28%;
	    display: block;
	    float: right;
	}
	#why {
		display: none;
	}
	#mainNav .navbar-header {
		background-color: #e9f5f7;
	}

}
@media (max-width: 990px) and (min-width: 441px){
	.col-name_menu {
	    background: #62c5cf;
	    color: #fff;
	    padding: 0;
	    border-radius: 20px;
	    height: 380px;
	}
}
@media (max-width: 540px) {
	.aside-right {
	    width: 90%;
	    display: block;
	    float: none;
	    margin:  auto;
	}
	.aside-left {
	    width: 90%;
	    display: block;
	    float: none;
	    margin:  auto;
	}

	.btn-zakaz {
	    background: #62c5cf;
	    color: #5b5a5f;
	    text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
	    -webkit-transform: rotate(-90deg);
	    -moz-transform: rotate(-90deg);
	    -o-transform: rotate(-90deg);
	    transform: rotate(-90deg);
	    position: fixed;
	    left: -50px;
	    top: 50%;
	    padding: 5px 20px 10px;
	    border: none;
	    border-radius: 15px;
	    font-family: 'Lobster', cursive;
	    z-index: 10000;
	    font-size: 15px;
	}
	#comment .carousel {
	    background: #eaf7f9;
	    height: auto;
	}
	.day-ration {
	    max-width: 300px;
	    padding: 15px 5px;
	}
	.day-ration input {
	    border: none;
	    border-radius: 18px;
	    text-align: center;
	    font-family: 'Lobster', cursive;
	    font-size: 22px;
	    margin: 0 12px 0 0;
	}
	.day-ration h2 {
		font-size: 22px;
	    display: inline-block;
	    margin: 0;
	    text-align: center;
	    line-height: 1.5;
	    text-shadow: #fff 2px 0 0px, #fff 0 2px 0px, #fff -2px 0 0px, #fff 0 -2px 0px;
	}
	.navbar-collapse .navbar-nav {
	    float: none;
	    margin: 10px auto;
	    display: block;
	    width: 300px;
	}

}

@media (max-width: 440px) {
	.col-name_menu {
	    background: #62c5cf;
	    color: #fff;
	    padding: 0;
	    border-radius: 20px;
	    height: 440px;
	}
}